// _helpers.scss

/* helpers - shouldn't ever need to edit per project */

.desktop-show{display:none;}

.center {text-align: center;}
.text-right{text-align:right;}

.align-center{margin:0 auto;}

a:hover,a:focus,.a:active {
  text-decoration: none;
  outline: none !important;
}

nav ul, .ul-reset, .check-list, nav li, form .optionset, form .optionset li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul-inline{
    overflow:hidden;

    li{
        display:inline-block;
    }

}
.display-flex{
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> *{
		flex:auto;
	}
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}