<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Dev Environments</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../media/style/style.css">
  <link rel="stylesheet" href="../media/style/mystyle.css">
  <link rel="apple-touch-icon" sizes="152x152" href="../media/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../media/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../media/images/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../media/images/safari-pinned-tab.svg" color="#5bbad5">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header id="header">
    <nav>
      <ul class="ul-reset ul-inline">
        <li><a class="[+home+]" href="?page=home">View</a></li>
        <li><a class="[+status+]" href="../index.php?page=jobstatus">Job Status</a></li>
        <li><a class="[+tools+]" href="../index.php?page=tools">Tools</a></li>
        <li><a class="[+chart+]" href="../index.php?page=chart">Charts</a></li>
        <li><a href="https://jenkins.experienceengine.com" target=_blank class="">Jenkins↪</a></li>
        [+logout+]
      </ul>
    </nav>
    <div class="switch">
      <input class="switch__input" type="checkbox" id="themeSwitch">
      <label aria-hidden="true" class="switch__label" for="themeSwitch">On</label>
      <div aria-hidden="true" class="switch__marker"></div>
    </div>
  </header>