<main id="wrapper">
	<dl class="link-list">
		<dt>
			<a href="https://dev:20acca50c21064f2a68a7a82caceb6cd@jenkins.experienceengine.com/job/zz-CleanupDB-Dev1/buildWithParameters?token=cleanc40a3-cfc4-49c1-aa2b-169245cf0923" target=_blank>Clean up database</a>
		</dt>
		<dd>
			Cleans up Env names(deleted ones)
		</dd>

		<dt>
			<a href="https://dev:20acca50c21064f2a68a7a82caceb6cd@jenkins.experienceengine.com/job/zz-GetVMIPs/buildWithParameters?token=getvmipfc40a3-cfc4-49c1-aa2b-169245cf0923" target=_blank>Redo VM IPs</a>
		</dt>
		<dd>
			Sync Vm ips to DB
		</dd>

		<dt>
			<a href="https://dev:20acca50c21064f2a68a7a82caceb6cd@jenkins.experienceengine.com/job/zz-Updatestatus/buildWithParameters?token=getvmstfc40a3-cfc4-49c1-aa2b-169245cf0923" target=_blank>Update VM status</a>
		</dt>
		<dd>
			Sync VM status to DB. Included memory
		</dd>

		<dt>
			<a href="https://dev:20acca50c21064f2a68a7a82caceb6cd@jenkins.experienceengine.com/job/zz-PoolVMs/buildWithParameters?token=pool40a3-cfc4-49c1-aa2b-169245cf0923" target=_blank>Run Pool Check</a>
		</dt>
		<dd>
			Do VM pooling
		</dd>

		<dt>
			<a href="https://dev:20acca50c21064f2a68a7a82caceb6cd@jenkins.experienceengine.com/job/zz-GitBranchSync/buildWithParameters?token=git40a3-cfc4-49c1-aa2b-169245cf09r4" target=_blank>Sync Git Branches</a>
		</dt>
		<dd>
			Sync New git branched to DB
		</dd>

		<dt>
			<a href="index.php?page=deploy">Deploy new machine</a>
		</dt>
		<dd>
			Manually Force ENV to host. (Probally not a good idea)
		</dd>

		<dt>
			<form action="index.php?page=tools" method="post">
				<button type="submit" name="Selecthosts" value="Clear host file" class="button-link">Clear host file</button>
			</form>
		</dt>
		<dd>
			Clear your host file
		</dd>
	</dl>
</main>